<footer class=" footer p-5 text-white sm:text-xl mt-10">
    <div class="flex justify-around uppercase p-5">
        <p class="flex-1/2 flex  items-center">
            ranking sena
        </p>
        <nav class="flex flex-col sm:flex-row flex-1/2  justify-between">
            <a href="">inicio</a>
            <a href="">sobre el tecnico</a>
            <a href="">contacto</a>

        </nav>

    </div>
    <p class="text-center mt-5 capitalize">Todos los derechos reservados - &copy; Israel Acevedo 2025</p>
</footer>