{% extends "base.html" %}
{%set blog=True %}
{% block content %}
{{error}}
<form method="POST" action="{{ url_for('nueva_entrada') }}" class="space-y-4 p-6">
    <div>
        <label for="titulo" class="block text-sm font-medium text-gray-700">Título</label>
        <input type="text" name="titulo" id="titulo" required
            class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-indigo-200" />
    </div>

    <div>
        <label for="contenido" class="block text-sm font-medium text-gray-700">Contenido</label>
        <input id="contenido" type="hidden" name="contenido">
        <trix-editor input="contenido" class="mt-1 block w-full"></trix-editor>
    </div>

    <div class="flex justify-between">
        <button type="submit" class="fondo_verde text-white px-4 py-2 rounded cursor-pointer">Publicar</button>
        <a href="{{url_for('panel')}}"
            class="bg-white text-red-600 flex items-center gap-2 border-2 border-red-600 w-fit py-1 px-5 hover:bg-red-800 transition-all duration-600 hover:text-white font-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                <path fill-rule="evenodd"
                    d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
            </svg> volver
        </a>
    </div>
</form>

{% endblock %}